@media only screen and (max-width: 1000px)
{
    body{
        background-color: rgb(220, 239, 255);
        background-image: none;
    }
    .About{
  background: linear-gradient(90deg, rgb(5, 0, 76) 0%, rgb(79, 173, 255) 35%, rgb(0, 49, 76) 100%);
  padding: 7rem;
  font-size: 0.5rem;
  margin: 55px 0px 0px 0px ;
  color: aliceblue;
}
.footer{
  background-color: #24262b;
    padding: 7rem;
    font-size: 0.5rem;
}

}